/*
  Tommaso Sciotto
  10325866/914844
    "Fuity"
  Advanced Coding Tools and Methodologies
  Computer Music - Representations and Models
  06/02/2019
*/

:root {
	--hueRotate: 0;
	--inversion: 1;
}


body {
	background-color:		black;
	color:					white;
	font-family: 			"Cantata One";
	text-align: center;
	
}

h1, h3 {
	font-weight: 			normal;
	text-align: 			center;
}

button {
	font-family: 			"Cantata One";
	font-size:				18px;
	background-color: 		black;
	color:					white;
	margin: 				0 auto;
	border:					1px solid white;
}
button:hover {
	background-color:		#CC0000;
}

.displayNone {
	display: none;
}


#scope {
	position: relative;
	font-size:				18px;
	width:					930px;
	height:					750px;
	margin:					0px auto;
}

#introduction {
	width: 					930px;
	height:					390px;
	text-align:				justify;
}

#agree {
	bottom:					0px;
}

#chooseParrot {
	text-align:				center;
}

#mugshots {
}
#mugshots > canvas {
	display:				inline-flex;
	background-color: 		black;
	border:					1px solid #CC0000;
}
#mugshots > canvas:hover {
	background-color: 		#CC0000;
}

.playing {
	background-color:		blue;
}

#keyboard-options {
	position: 				relative;
	width: 					930px;
	height:					390px;
	text-align:				center;
}

#keyboardInterface {
	position:				relative;
	width:					400px;
	height:					300px;
	margin:					0px auto;
}

.keyRow {
	position:				absolute;
	display: 				block;
	padding: 				0px;
}

#row1 {
	right:					0px;
	top:					0px;
}
#row2 {
	left: 					30px;
	top:					70px;
}
#row3 {
	left: 0px;
	top:					140px;
}

.key {
	display:				inline-flex;
	width:					60px;
	height:					60px;
	vertical-align: 		middle;
	justify-content: 		center;
	line-height: 			60px;
	font-size:				24px;
	border:					1px solid grey;
}

#C, #H, #O {
	border:					2px solid red;
}

/*
#F, #U {border:				2px solid orange;}
#T, #N {border:				2px solid yellow;}
#V, #J {border:				2px solid green;}
#G, #I {border:				2px solid cyan;}
#Y, #M {border:				2px solid blue;}
#B, #K {border:				2px solid blue;}
*/

#start {
	width:	100px;
	position: absolute;
	transform: translate(-50px);
	top: 320px;
}

#control {
	position: absolute;
	width: 930px;
	bottom: 0px;
}

.rightAlign {
	position: absolute;
	right: 0px;
}

.box {
	background-color: black;
	color: white;
	width: 100px;
	font-family: "Cantata One";
	font-size: 16px;
	border: none;
}


.cell {
	position: relative;
	display: inline-flex;
	width: 250px;
	border: dashed 1px grey;
	box-sizing: border-box;
}
.cell:hover {
	border:		1px solid blue;
}

.large {
	width: 500px;
}


#TuningSelector {
	width: 160px;
	font-size: 14px;
	vertical-align: bottom;
}

#composers {
	position: absolute;
	top:400px;
	width: 				930px;
	height: 			180px;
}

#screen > canvas {
	width:		930px;
	position:	absolute;
	top: 		0px;
	left:		50%;
	border:		none;
}

#backgroundCanvas {
	z-index: 0;
	background-image:	url("https://imgur.com/NtJPxDE.gif");
	filter:				hue-rotate(calc(var(--hueRotate)*1deg));
	transform:			translate(-465px);
}

#yourCanvas {
	z-index: 1;
	transform:	translate(-465px);
}

#theirCanvas {
	z-index: 2;
	transform: translate(-465px) scaleX(-1) scaleY(var(--inversion));
}